@{
    ViewData["Title"] = "User Courses";
}

<h3>My Courses</h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <td>Title</td>
            <td>Сategory</td>
            <td>Price</td>
            <td>Created By</td>
            <td>LastUpdated</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var Course in Model.Data)
        {
            <tr onclick="location.href='@Url.Action("ViewCourseDetails", "Course", new { Id = Course.Id })'">
                <td>@Course.Title</td>
                <td>@Course.Сategory</td>
                <td>@Course.Price</td>
                <td>@Course.CreatedBy.Email</td>
                <td>@Course.LastUpdated</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.HasPreviousPage)
{
    <a asp-action="GetUserCourses"
       asp-route-page="@(Model.PageNumber - 1)"
       class="btn btn-outline-dark">
        Previous
    </a>
}
@if (Model.HasNextPage)
{
    <a asp-action="GetUserCourses"
       asp-route-page="@(Model.PageNumber + 1)"
       class="btn btn-outline-dark">
        Next
    </a>
}